<a href="https://colab.research.google.com/github/wagner-alves-AI/PLN/blob/master/Word2Vec.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import pandas as pd
import gensim
from gensim.utils import simple_preprocess

In [2]:
corpus = ['Primeiro texto do capítulo', 'Segundo texto do capítulo']

In [3]:
#pré-processamento de cada documento do corpus
corpus_preprocessed = []
for doc in corpus:
  corpus_preprocessed.append(simple_preprocess(doc,deacc=True, min_len=3))
display(corpus_preprocessed)
df = pd.DataFrame(corpus_preprocessed, index=['Documento1', 'Documento2'],
                  columns = ['Token1', 'Token2', 'Token3'])
display(df)

[['primeiro', 'texto', 'capitulo'], ['segundo', 'texto', 'capitulo']]

              Token1 Token2    Token3
Documento1  primeiro  texto  capitulo
Documento2   segundo  texto  capitulo

In [4]:
from gensim.corpora import Dictionary as corpDict 

vocab = corpDict(corpus_preprocessed)
print(vocab)
df2 = pd.DataFrame(vocab.values(), columns=['Palavra'])
display(df2)

Dictionary(4 unique tokens: ['capitulo', 'primeiro', 'texto', 'segundo'])

    Palavra
0  capitulo
1  primeiro
2     texto
3   segundo

In [6]:
# Treinamento de um modelo W2V
from gensim.models import Word2Vec

model = Word2Vec(corpus_preprocessed, min_count=1, size=10)

dic = {v: model[v] for v in vocab.values()}
df3 = pd.DataFrame(dic)
display(df3)

/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:6: DeprecationWarning: Call to deprecated `__getitem__` (Method will be removed in 4.0.0, use self.wv.__getitem__() instead).

   capitulo  primeiro     texto   segundo
0  0.013750  0.039868  0.040033  0.042411
1 -0.034947  0.015824  0.016344  0.032832
2  0.001276  0.046790 -0.045606 -0.014047
3 -0.039185  0.022485 -0.042413 -0.045211
4 -0.039353  0.001240 -0.020720 -0.034941
5 -0.037874  0.040201 -0.033085  0.040180
6 -0.001794  0.047735 -0.047985 -0.009472
7 -0.030863  0.015745 -0.033042  0.029607
8  0.016627  0.011480 -0.005443  0.007323
9  0.029218  0.000304  0.044396 -0.042273

In [9]:
# Armazenando um modelo de W2V
import nltk
from nltk.corpus import brown
nltk.download('brown')
corpus = brown.sents()
model_brown = gensim.models.Word2Vec(corpus, min_count=1)
model_brown.save = ('C:\\Sagah\\modelo_brown.bin')

[nltk_data] Downloading package brown to /root/nltk_data...
[nltk_data]   Package brown is already up-to-date!

In [10]:
# Carregando um modelo
from gensim.models import Word2Vec

model_carreg = Word2Vec.load = ('C:\\Sagah\\modelo_brown.bin')

In [11]:
# Carregando um modelo pré-treinado
import gensim.downloader as corpus_data

model = corpus_data.load('word2vec-google-news-300')

[==================================================] 100.0% 1662.8/1662.8MB downloaded

/usr/local/lib/python3.6/dist-packages/smart_open/smart_open_lib.py:254: UserWarning: This function is deprecated, use smart_open.open instead. See the migration notes for details: https://github.com/RaRe-Technologies/smart_open/blob/master/README.rst#migrating-to-the-new-open-function
  'See the migration notes for details: %s' % _MIGRATION_NOTES_URL

In [12]:
# palavras similares a car e house
dfC = pd.DataFrame(model.similar_by_word('car', topn=10),
                   columns=['Palavra','Similaridade'])
dfC = dfC.set_index('Palavra')
dfH = pd.DataFrame(model.similar_by_word('house', topn=10),
                   columns=['Palavra','Similaridade'])
dfH = dfH.set_index('Palavra')
display(dfC)
display(dfH)

/usr/local/lib/python3.6/dist-packages/gensim/matutils.py:737: FutureWarning: Conversion of the second argument of issubdtype from `int` to `np.signedinteger` is deprecated. In future, it will be treated as `np.int64 == np.dtype(int).type`.
  if np.issubdtype(vec.dtype, np.int):

              Similaridade
Palavra
vehicle           0.782110
cars              0.742383
SUV               0.716096
minivan           0.690704
truck             0.673579
Car               0.667761
Ford_Focus        0.667320
Honda_Civic       0.662685
Jeep              0.651133
pickup_truck      0.644144

            Similaridade
Palavra
houses          0.707239
bungalow        0.687856
apartment       0.662900
bedroom         0.649694
townhouse       0.638408
residence       0.619842
mansion         0.605819
farmhouse       0.585757
duplex          0.575794
appartment      0.569033